body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #192344;
}

.App, #root {
  height: 100%;
}

.App {
  font-size: 18px;
  color: #fff;
}

.dashboard, .score-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  flex-direction: column;
  height: 100%;
  /* justify-content: space-around; */
}

.drawer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #fff;
  color: #000;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Initially hidden */
  transition: transform 0.5s ease-in-out;
}

.display-drawer {
  transform: translateX(0); /* Slide in */
}

.hide-drawer {
  transform: translateX(100%); /* Slide out */
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px 20px;
}

.rules-list {
  line-height: 25px;
  padding-right: 20px;
}

.rules-list-text {
  margin-bottom: 20px;
}

.rules-list > li {
  margin: 10px;
}

.close {
  cursor: pointer;
}

.score-card {
  flex-direction: column;
  background-color: #f7f7f8;
  color: #676666;
  width: 150px;
  border-radius: 10px;

  position: absolute;
  top: 50px;
  padding: 0px 0px 10px 0px;
}

button {
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  width: 80px;
  height: 40px;
}

.rules-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #82df82;
}

.game-dashboard {
  height: 300px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}
.text-center {
  text-align: center;
}

.triangle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  column-gap: 100px; /* Gap between first and second boxes */
  row-gap: 50px; /* Gap between the first row and the third box */
  justify-content: center; /* Centers the grid horizontally */
  position: relative;
}

.box-1 {
  grid-column: 1;
  grid-row: 1;
}

.box-2 {
  grid-column: 2;
  grid-row: 1;
}

.box-3 {
  grid-column: 1 / span 2; /* Spans across the two columns */
  grid-row: 2; /* Places the third box in the second row */
  justify-self: center; /* Centers it horizontally */
}

.box {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.spinner {
  animation: spinY 0.5s infinite linear; /* Applies X-axis spin animation */
  transform-origin: center; /* Ensures rotation is around the center of the image */
}

@keyframes spinY {
  0% {
    transform: rotateY(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotateY(360deg); /* Complete full rotation */
  }
}

.selected-game {
  display: flex;
  gap: 30px;
  height: 200px;
  align-items: center;
  justify-content: space-between;
}

.play-again-btn {
  background-color: #82df82;
  width: 120px;
}

.restart-btn {
  background-color: #bb2424;
  width: 120px;
}